<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head', {title: model.title}); %>
</head>
<body class="container">
<header>
    <% include ../partials/header %>
</header>

<main>
    <div>
        <h1><%=model.title%> Submitted</h1>
    </div>
</main>

<div>
	<a href="https://api.canonn.tech:2083/<%= model.endpoint + '/' + model.id %>">View submitted item here</a>
</div>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>